<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input placeholder="First Name" [(ngModel)]="first_name"></ion-input>
    <ion-input placeholder="Last Name" [(ngModel)]="last_name"></ion-input>
    <ion-input placeholder="Please enter an email" [(ngModel)]="email"></ion-input>
    <ion-input placeholder="Please enter password" [(ngModel)]="password"></ion-input>
    <ion-input placeholder="Enter cellphone number" [(ngModel)]="cell_number"></ion-input>

    <ion-button (click)="register()">Register</ion-button>
    <ion-label button [routerLink]="['/', 'login']">I already have an account</ion-label>
</ion-content>