<ion-content>
    <div class="parent_container">
        <div class="app_title title_container">JOINT</div>
        <div class="auth_container" id="contact_fields">
            <ion-input placeholder="First Name" class="edit_fields" [(ngModel)]="first_name"></ion-input>
            <ion-input placeholder="Last Name" class="edit_fields" [(ngModel)]="last_name"></ion-input>
            <ion-input placeholder="Cell Number" class="edit_fields" [(ngModel)]="cell_number"></ion-input>
            <div><button class="btnProceed btn" (click)="proceed()">Proceed</button></div>
        </div>
        <div class="auth_container" id="password_fields">
            <ion-input placeholder="Email Address" class="edit_fields" [(ngModel)]="email"></ion-input>
            <ion-input placeholder="Password" class="edit_fields" [(ngModel)]="password" type="password"></ion-input>
            <ion-input placeholder="Re-type Password" class="edit_fields" [(ngModel)]="confirm_password" type="password"></ion-input>
            <div><button class="btnRegister btn" (click)="register()">Sign Up</button></div>
        </div>
        <ion-label button [routerLink]="['/', 'login']" class="labels">I already have an account</ion-label>
    </div>
</ion-content>