<ion-header>
    <ion-toolbar>
        <ion-title>Listings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let item of (properties | async)">
        <ion-item button [routerLink]="['/', 'listings', item._id]" *ngIf="item.user_id == userId">
            <ion-avatar slot="start">
                <img [src]="item.property_image_url">
            </ion-avatar>
            <ion-label text-wrap>
                <h3>{{item.property_name}}</h3>
                R{{item.property_price}}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button expand="full">Create New Property</ion-button>
</ion-content>