<ion-header>
    <ion-toolbar>
        <ion-title>New Listing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Create Post</h3>
    <ion-card>
        <ion-input placeholder="Enter property name">{{name}}</ion-input>
        <ion-input placeholder="Street Address">{{address_line}}</ion-input>
        <ion-input placeholder="City">{{city_name}}</ion-input>
        <ion-input placeholder="Country">{{country}}</ion-input>
        <ion-input placeholder="Postal Code" type="number">{{postal_code}}</ion-input>
    </ion-card>

    <ion-item>
        <ion-card>
            <ion-label>Add an image url</ion-label>
            <ion-input pattern="url">{{image_url}}</ion-input>
            <ion-label>Listing Price</ion-label>
            <ion-input type="number">R{{price}}</ion-input>
        </ion-card>
    </ion-item>

    <ion-button (click)="postListing()">Post Listing</ion-button>
</ion-content>