<ion-header>
    <ion-toolbar>
        <ion-title>Listings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'listings', item._id]">
            <ion-avatar slot="start">
                <img [src]="item.property_image_url">
            </ion-avatar>
            <ion-label text-wrap>
                <h3>{{item.property_name}}</h3>
                R{{item.property_price}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>