<ion-content>
    <ion-card button *ngFor="let item of results" [routerLink]="['/', 'listings', item._id]">
        <ion-img [src]="item.property_image_url" class="property_image"></ion-img>
        <div parent_container>
            <div class="first_row">
                <ion-label class="cost_pp">R{{item.property_price}}/pp</ion-label>
                <div class="owner_profile">
                    <ion-label class="owner_name">Bobby Carelse</ion-label>
                    <ion-avatar>
                        <img src="../../../assets/background/dp.png" class="profile_picture">
                    </ion-avatar>
                </div>
            </div>

            <div class="div_location">
                <ion-icon name="pin"></ion-icon>
                <ion-label class="lblLocation">{{item.property_location}}</ion-label>
            </div>

            <div class="facilities">
                <div class="bedrooms facility_item">
                    <img src="../../../assets/icon/bed.png" class="icons">
                    <ion-label class="lblBedrooms">{{item.bedroom_count}}</ion-label>
                </div>
                <div class="bathrooms facility_item">
                    <img src="../../../assets/icon/bathtub.png" class="icons">
                    <ion-label class="lblBedrooms">{{item.bathroom_count}}</ion-label>
                </div>
                <div class="garages facility_item">
                    <img src="../../../assets/icon/car.png" class="icons">
                    <ion-label class="lblBedrooms">{{item.garage_count}}</ion-label>
                </div>
            </div>
        </div>
    </ion-card>

</ion-content>