<ion-header>
    <ion-toolbar>
        <ion-title>Edit Listings Property</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Property Name</ion-label>
        <ion-input [(ngModel)]="property_name">{{property_details.property_name}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Property Location</ion-label>
        <ion-input [(ngModel)]="property_location">{{property_details.property_location}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Property Cost Per/Night</ion-label>
        <ion-input [(ngModel)]="property_price">{{property_details.property_price}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Property Image URL</ion-label>
        <ion-input [(ngModel)]="property_image_url">{{property_details.property_image_url}}</ion-input>
    </ion-item>
    <ion-button (click)="updateProperty()">
        Save Updates
    </ion-button>
</ion-content>