<ion-header>
    <ion-toolbar>
        <ion-title>Edit Listings Property</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="information">
        <ion-card-header>
            <ion-card-title>
                {{information.property_name}}
            </ion-card-title>
            <ion-card-subtitle>
                {{information.property_location}}
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content text-center>
            <img [src]="information.property_image_url" alt="Property image">

            <ion-item lines="none">
                <ion-icon name="cash" slot="start"></ion-icon>
                <ion-label text-wrap>R{{information.property_price}}</ion-label>
            </ion-item>
        </ion-card-content>
        <ion-button expand=full (click)="editProperty()">Edit Property</ion-button>
    </ion-card>
    
    <ion-button (click)="updateProperty()">
        Save Updates
    </ion-button>

</ion-content>