<ion-header>
    <ion-toolbar>
        <ion-title>Edit Listings Property</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Property Name</ion-label>
        <ion-input>{{property_details.property_name}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Property Location</ion-label>
        <ion-input>{{property_details.property_location}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label></ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label></ion-label>
        <ion-input></ion-input>
    </ion-item>
</ion-content>