<ion-header>
    <ion-toolbar>
        <ion-title>Welcome </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div>
            <h3>Email Address</h3>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
        </div>
        <div>
            <h3>Password</h3>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
        </div>

        <ion-button expand="full" (click)="login()">LOGIN</ion-button>
    </ion-card>
    <div button [routerLink]="['/', 'register']">
        I don't have an account
    </div>
</ion-content>