<ion-content>
    <div class="parent_container">
        <div class="app_title title_container">JOINT</div>
        <div class="auth_container">
            <ion-input placeholder="Username" class="edit_fields" [(ngModel)]="email" type="email"></ion-input>
            <ion-input placeholder="Password" class="edit_fields" [(ngModel)]="password" type="password"></ion-input>
        </div>
        <div><button class="btnSignIn" (click)="login()">Sign In</button></div>
        <div class="labels">
            <ion-label class="lblForgot">Forgot Password?</ion-label>
            <ion-label class="lblCreateAccount" button [routerLink]="['/', 'register']">Don't have an account?</ion-label>
        </div>
    </div>
</ion-content>